.mysenii-theme {
  // Borders
  // -------
  --border-b1: solid 1.4px;
  --border-b2: solid 2px;
  --border-b3: solid 2.1px;

  // Border Radius
  // -------------
  --border-radius-br1: 22px;
  --border-radius-br2: 15px;
  --border-radius-br3: 5px;

  // Cards
  // -----
  --card-border-radius: var(--border-radius-br1);
  --card-border: var(--border-b1) var(--card-border-color);

  // Leaflet
  // -------
  --leaflet-border-radius: 0 20px 20px 0;
  --leaflet-border: var(--border-b3);
  --leaflet-content-image-border: var(--border-b2);
}
