.mysenii-theme {
  // Color Palette
  // =============
  // Palette
  // -------
  --white-s1-color: #ffffff;
  --black-s1-color: #121212;
  --black-s2-color: #000000;
  --gray-s1-color: #dadada;

  --orange-s1-color: #ff8e73;
  --purple-s1-color: #e0b6fc;
  --yellow-s1-color: #ffde9d;
  --green-s1-color: #00b089;
  --pink-s1-color: #fab1cd;

  --orange-s2-color: #fc5b10;
  --purple-s2-color: #dd83ca;
  --yellow-s2-color: #fcc352;
  --green-s2-color: #00b089;
  --pink-s2-color: #fab1cd;

  --purple-s3-color: #8a65a3;
  // Backgrounds
  // -----------
  --background-color-white: var(--white-color);

  // Fonts
  // -----
  --font-color-white: var(--black-s1-color);

  // Cards
  // -----
  --card-border-color: var(--black-s2-color);
  --tutorial-card-background-color: var(--purple-s3-color);

  // Splash
  // ------
  --splash-background-color: var(--yellow-s1-color);
  --splash-button-background: var(--purple-s1-color);
  --splash-button-border-color: var(--black-s1-color);

  // Leaflet
  // -------
  --leaflet-border-color: var(--black-s1-color);
  --leaflet-content-image-border-color: var(--black-s1-color);
  --leaflet-background-color: var(--purple-s1-color);

  // Results
  // -------
  --results-disclaimer-background-color: var(--yellow-s1-color);
}
