/**
  Use dimensions to share size variables across the interface,
  simplifying the way the different elements of the application
  are consistent between them.
 */
.mysenii-theme {
  // Card dimensions
  // ---------------
  --card-max-width: 285px;
  --card-max-height: 491px;

  // Leaflet dimensions
  // ------------------
  --leaflet-max-width: 320px;
  --leaflet-max-height: 500px;

  // Card explainer card dimensions
  // ------------------------------
  --card-explainer-max-width: 226px;
  --card-explainer-max-height: 390px;

  // Card Feelings Type dimensions
  // -----------------------------
  --card-feelings-type-max-width: 259px;
  --card-feelings-type-max-height: 450px;

  // UI Footer dimensions
  // --------------------
  // Vertical separation between bottom of deck and
  // game flow buttons (pause, rewind, forward, etc).
  --footer-buttons-deck-margin: 85px;
}
