.mysenii-theme {
  // Font Variables
  // ==============
  // Font Sizes
  // ----------
  --text-big-font-size: 50px;
  --text-extra-large-font-size: 40px;
  --text-large-font-size: 33px;
  --text-semi-large-font-size: 20px;
  --text-normal-font-size: 16px;
  --text-semi-normal-font-size: 14px;
  --text-small-font-size: 12px;
  --text-mini-font-size: 10px;
  --icon-font-size: 18px;

  // Line Heights
  // ------------
  --text-large-line-height: 38px;
  --text-semi-large-line-height: 26px;
  --text-normal-line-height: 20px;

  // Font Families
  // -------------
  --main-font-family: 'Rodger-Regular';
  --secondary-font-family: 'OpenSans-Regular';
  --main-bold-font-family: 'Rodger-Regular-Black';
  --secondary-bold-font-family: 'OpenSans-Bold';

  // Text Classes
  // ============
  .mysenii-h1 {
    font-family: var(--main-bold-font-family);
    font-size: var(--text-big-font-size);
  }

  .mysenii-h2 {
    font-family: var(--main-font-family);
    font-size: var(--text-semi-large-font-size);
  }

  .mysenii-h3 {
    line-height: normal;
    font-family: var(--main-font-family);
    font-size: var(--text-normal-font-size);
  }

  .mysenii-h3-bold {
    @extend .mysenii-h3;
    font-size: 21px !important;
    font-family: var(--main-bold-font-family);
  }

  .mysenii-normal-text {
    line-height: normal;
    font-family: var(--secondary-font-family);
    font-size: var(--text-semi-normal-font-size);
  }

  .mysenii-normal-bold-text {
    @extend .mysenii-normal-text;
    font-family: var(--secondary-bold-font-family);
  }

  .mysenii-small-text {
    font-family: var(--secondary-font-family);
    font-size: var(--text-small-font-size);
  }

  .mysenii-small-bold-text {
    font-family: var(--secondary-bold-font-family);
    font-size: var(--text-small-font-size);
  }

  .mysenii-disclaimer-text {
    font-style: italic;
    font-family: var(--secondary-font-family);
    font-size: var(--text-small-font-size);
  }

  .mysenii-disclaimer-bold-text {
    @extend .mysenii-disclaimer-text;
    font-family: var(--secondary-bold-font-family);
  }

  // Sub Variables
  // =============
  // Gameplay UI Icons
  --gameplay-ui-icon-font-size: var(--icon-font-size);

  // Card Prompt
  --card-prompt-font-family: var(--main-font-family);
  --card-prompt-font-size: var(--text-semi-large-font-size);
  --card-prompt-line-height: var(--text-semi-large-line-height);

  // Card Answer Prompt
  --card-answer-prompt-title-font-family: var(--main-font-family);
  --card-answer-prompt-title-font-size: var(--text-extra-large-font-size);
  --card-answer-prompt-title-line-height: var(--text-semi-large-line-height);

  // Help Answer Prompt
  --help-prompt-title-font-family: var(--main-font-family);
  --help-prompt-title-font-size: var(--text-large-font-size);
  --help-prompt-title-line-height: var(--text-normal-line-height);
  --help-prompt-description-font-family: var(--secondary-font-family);
  --help-prompt-description-font-size: var(--text-normal-font-size);
  --help-prompt-description-line-height: var(--text-normal-line-height);

  // Tutorial Card
  --tutorial-card-description-font-family: var(--main-font-family);
  --tutorial-card-description-font-size: var(--text-semi-large-font-size);
  --tutorial-card-swipe-font-family: var(--secondary-font-family);
  --tutorial-card-swipe-font-size: var(--text-semi-normal-font-size);

  // Splash
  --splash-header-font-family: var(--main-bold-font-family);
  --splash-header-font-size: var(--text-big-font-size);
  --splash-content-font-family: var(--main-font-family);
  --splash-content-font-size: var(--text-large-font-size);
  --splash-content-line-height: var(--text-large-line-height);
  --splash-subheader-font-family: var(--secondary-font-family);
  --splash-subheader-font-size: var(--text-normal-font-size);

  --splash-button-font-family: var(--main-font-family);
  --splash-button-font-size: var(----text-semi-large-font-size);

  // Leaflet
  --leaflet-header-font-family: var(--main-font-family);
  --leaflet-header-font-size: var(--text-large-font-size);
  --leaflet-subheader-font-family: var(--main-font-family);
  --leaflet-subheader-font-size: var(--text-semi-large-font-size);
  --leaflet-content-font-family: var(--secondary-font-family);
  --leaflet-content-font-size: var(--text-semi-normal-font-size);
  --leaflet-footnote-font-size: var(--text-small-font-size);
  --leaflet-page-number-font-family: var(--secondary-font-family);
  --leaflet-page-number-font-size: var(--text-small-font-size);
}
