<div class="mysenii-deck mysenii-cover-parent mysenii-flex-center"
     data-controller="gameplay-deck">
  {{#if this.args.tutorial}}
    {{#each this.args.cards as |card|}}
      <App::CardGame::Gameplay::TutorialCard::Card @card={{card}} />
    {{/each}}
  {{else}}
    {{#each this.args.cards as |card|}}
      <App::CardGame::Gameplay::Card::Card @card={{card}} />
    {{/each}}
  {{/if}}
</div>