<div class="mysenii-game-scene"
     data-controller="gameplay-game"
     data-gameplay-game-game-information-value="{{this.stringifiedGame}}">
  <App::CardGame::Gameplay::Ui::Help/>
  <App::CardGame::Gameplay::Ui::Ui/>
  <App::CardGame::Gameplay::Deck @tutorial={{false}} @cards={{this.cards}}/>
</div>