<div class="mysenii-leaflet-page
            mysenii-leaflet-page-back
            mysenii-leaflet-page-{{this.page.color}}"
     data-controller="app-leaflet-page">
  <div class="mysenii-cover-parent">
    <div class="mysenii-page-flipper">
      <!-- FRONT PAGE -->
      <div>
        <p class="mysenii-leaflet-subheader-text">
          {{{this.page.content}}}
        </p>
        <p class="mysenii-leaflet-footnote-text">
          {{{this.page.footnote}}}
        </p>

        <div class="mysenii-leaflet-page-number">
          <p class="mysenii-leaflet-page-number-text">{{this.pageNumber}}/{{this.args.totalPages}}</p>
          <div data-app-leaflet-page-target="foldedCorner"></div>
        </div>
      </div>
      <!-- BACK PAGE -->
      <div></div>
    </div>
  </div>
</div>