<div class="mysenii-leaflet-page
            mysenii-leaflet-page-content
            mysenii-leaflet-page-{{this.page.color}}"
     data-controller="app-leaflet-page">
  <div class="mysenii-cover-parent">
    <div class="mysenii-page-flipper">
      <!-- FRONT PAGE -->
      <div>
        <img src={{this.page.image}}>
        <p class="mysenii-leaflet-text">
          {{this.page.content}}
        </p>

        <div class="mysenii-leaflet-page-number">
          <p class="mysenii-leaflet-page-number-text">{{this.pageNumber}}/{{this.args.totalPages}}</p>
          <div data-app-leaflet-page-target="foldedCorner"></div>
        </div>
      </div>
      <!-- BACK PAGE -->
      <div></div>
    </div>
  </div>
</div>