<div class="mysenii-leaflet-page mysenii-leaflet-page-front mysenii-leaflet-page-purple"
     data-controller="app-leaflet-page">
  <div class="mysenii-cover-parent">
    <div class="mysenii-page-flipper">
      <!-- FRONT PAGE -->
      <div>
        <img src="assets/images/ui/logo.png">

        <p class="mysenii-h3">
          swipe left to open<span><img src="assets/images/ui/white/swipe/left.webp"></span>
        </p>

        <div class="mysenii-leaflet-page-number">
          <div data-app-leaflet-page-target="foldedCorner"></div>
        </div>
      </div>
      <!-- BACK PAGE -->
      <div></div>
    </div>
  </div>
</div>
