.mysenii-card-game-results-card-explainer {
  * {
    pointer-events: auto;
  }

  // Separate each card from left border
  .mysenii-card-explainer {
    margin-left: 25px;
  }

  > .glide:first-child {
    .glide__track, ul {
      overflow: visible;
    }

    li, .glide__slide--active {
      > *:first-child {
        transition: all 300ms;
      }
    }

    li {
      > *:first-child {
        opacity: 0.6;
        transform: scale(0.8);
      }
    }

    .glide__slide--active {
      > *:first-child {
        opacity: 1;
        transform: scale(0.9);
      }
    }
  }

  > div:last-child {
    margin-top: 10px;
    background: var(--purple-s1-color);
  }
}
