.mysenii-description-display {
  background: var(--purple-s1-color);

  // Card Explanation bubble
  > div {
    position: relative;

    // Speech Bubble Carret
    &:before {
      width: 0;
      height: 0;
      content: "";
      position: absolute;
      border-left: 17px solid transparent;
      border-right: 17px solid transparent;
      border-top: 17px solid transparent;
      border-bottom: 17px solid var(--black-s2-color);
      left: 81px;
      top: -34px;
    }

    &:after {
      width: 0;
      height: 0;
      content: "";
      position: absolute;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-top: 16px solid transparent;
      border-bottom: 16px solid var(--purple-s1-color);
      left: 82px;
      top: -30px;
    }

    p {
      word-break: break-word;
      white-space: normal;
    }

    > div {
      flex-flow: row;
      justify-content: flex-start !important;

      p {
        margin-top: 0 !important;
      }

      > * + * {
        margin-left: 10px;
        justify-content: flex-start;
      }
    }

    > * + * {
      margin-top: 15px;
    }
  }
}
