.mysenii-card-game-results-recommended-follow-up {
  height: 100%;
  z-index: 1000;
  position: relative;
  display: block;
  background: var(--yellow-s1-color);
  text-decoration: none !important;
  color: var(--black-s1-color);
  padding-bottom: 35px !important;

  > div:first-child {
    display: flex;
    flex-flow: column;

    img {
      width: 30px;
      height: 30px;
      margin-bottom: 25px;
    }

    div {
      flex: 1;

      p {
        word-break: break-word;
        white-space: normal;
      }
    }
  }

  // Follow Up information button
  > img:last-child {
    width: auto;
    height: 50px;
    position: absolute;
    top: 5px;
    right: 5px;
  }
}
