<div class="mysenii-card-game-results"
     data-controller="app-card-game-views-results">
  <div data-app-card-game-views-results-target="content">
    <img src="assets/images/plants/bush2.webp">
    <img src="assets/images/plants/plant3.webp">

    <div class="mysenii-text-content-section">
      ((#testRun))
        <h1>Score ((testRunStandardScoreValue))</h1>
        <p class="mysenii-disclaimer-text">
          The score is based on your selected responses for the each card.
        </p>
      ((/testRun))

      ((#result))
      <h2>((header))</h2>
      <p>((description))</p>
      ((/result))
    </div>

    <div class="mysenii-text-content-section mysenii-disclaimer">
      <p class="mysenii-normal-bold-text">Disclaimer</p>
      <p>
        The screening is from Center for Epidemiological Studies Depression Scale for Children
        <a target="_blank"
           class="mysenii-disclaimer-bold-text"
           href="https://www.rki.de/DE/Content/Gesundheitsmonitoring/Studien/Kiggs/Basiserhebung/Fachartikel/Eur_Child_Adolesc_Psychiatry_2008_17_Suppl_1:116-124.pdf;jsessionid=B4F74490E461D92B5B322F7616A63033.internet081?__blob=publicationFile">
          (CES-DC)
          <img src="assets/images/ui/link.png">
        </a>.
        mysenii adheres to anonymity and confidentiality of user information.
      </p>
    </div>

    <div class="mysenii-text-content-section">
      <h2>Why am I feeling this?</h2>
      <p>
        To help you understand the root of your emotions, we explain the source of the feelings for each card below.
        We help you understand the feeling type so you can see where you need help and get a personalized recommendation
        for the best follow-up.
      </p>

      <button class="mysenii-black-button"
              data-action="click->app-card-game-views-results#closeSplash">
        Reveal feeling type
      </button>
    </div>

    <div class="mysenii-text-content-section">
      <h2>What to do next?</h2>
      <p>
        Let's find you the nearest help!
      </p>
    </div>

    <App::CardGame::Results::Sections::RecommendedFollowUps/>
  </div>
</div>