<div class="mysenii-cover-parent mysenii-flex-center mysenii-splash"
     data-controller="app-splash">
  <div data-app-splash-target="content">
    <img src="assets/images/splash/love-message.webp">
    <h1>Great job!</h1>
    <p>
      Now you know<br>
      how to play.<br>
      Time to play<br>
      the game
    </p>
    <button class="mysenii-splash-button"
            data-action="click->app-splash#closeSplash">
      Let's go
    </button>
  </div>

  <img class="mysenii-splash-left-bottom-asset"
       src="assets/images/plants/plant2.webp"
       data-app-splash-target="leftAsset">
  <img class="mysenii-splash-right-bottom-asset"
       src="assets/images/plants/plant1.webp"
       data-app-splash-target="rightAsset">
</div>