<div class="mysenii-cover-parent
            mysenii-flex-center mysenii-splash"
     data-controller="app-splash">
  <div data-app-splash-target="content">
    <img src="assets/images/splash/trophy.webp" style="height: 100px">
    <h1>Great!</h1>
    <p>
      You completed<br>
      the game!<br>
      Let's take a look<br>
      at the results ...
    </p>
    <button class="mysenii-splash-button"
            data-action="click->app-splash#closeSplash">
      Check your score
    </button>
  </div>

  <img class="mysenii-splash-left-bottom-asset"
       src="assets/images/background/background2.webp"
       data-app-splash-target="leftAsset">
  <img class="mysenii-splash-left-bottom-asset"
       src="assets/images/plants/plant4.webp"
       data-app-splash-target="leftAsset"
       style="left: 0px">
  <img class="mysenii-splash-right-bottom-asset"
       src="assets/images/plants/plant1.webp"
       data-app-splash-target="rightAsset">
</div>