<div class="mysenii-cover-parent mysenii-flex-center mysenii-splash mysenii-splash-welcome"
     data-controller="app-splash">
  <div data-app-splash-target="content">
    <p class="mysenii-h2">Welcome to</p>
    <img src="assets/images/ui/logo.png">
    <p class="mysenii-h3">what you feel matters</p>
    <button class="mysenii-splash-button"
            data-action="click->app-splash#closeSplash">
      Let's begin
    </button>
  </div>

  <img class="mysenii-splash-right-bottom-asset"
       src="assets/images/plants/plant3.webp"
       data-app-splash-target="rightAsset">
  <img class="mysenii-splash-right-bottom-asset"
       src="assets/images/plants/bush1.webp"
       data-app-splash-target="rightAsset">
</div>