<div class="mysenii-scene"
     data-controller="scenes-scene"
     data-scenes-scene-name-value="card-game-follow-up-find-help"
     data-scenes-scene-next-scene-name-value="welcome"
     data-scenes-scene-registration-event-value="splashInserted"
     data-scenes-scene-start-scene-action-value="showSplash"
     data-scenes-scene-end-scene-event-value="closeSplash"
     data-scenes-scene-end-scene-action-value="hideSplash">
  <App::CardGame::FollowUps::FindHelp/>
</div>
