.mysenii-card-game-onboarding-leaflet-view {
  background: white;
  position: relative;

  // Background Images
  > div:first-child {
    overflow: hidden;

    > img {
      bottom: 0;
      position: absolute;
      width: auto !important;
    }

    // Background Image
    > img:first-child {
      height: 55%;
      left: -90px;
      bottom: -190px;
    }

    > img:nth-child(2) {
      height: 12%;
      right: -50px;
    }

    > img:nth-child(3) {
      height: 140px;
      left: -75px;
      bottom: -10px;
    }
  }

  // Skip Button
  > button {
    left: 0;
    right: 0;
    width: fit-content;
    position: absolute;
    margin: auto;
    bottom: 30px;
  }

  > div:last-child {
    z-index: 1000;
  }
}
