<div class="mysenii-text-content-section mysenii-description-display">
  <div class="mysenii-slide-bubble">
    <div class="mysenii-flex-center">
      <p class="mysenii-h3">
        Question categories:
        ((#each testRunAnswer.questionCategories as |category|))
          ((category))
        ((/each))
      </p>
    </div>

    <p class="mysenii-normal-text">((testRunAnswer.answer.question.clarification))</p>

    <div class="mysenii-flex-center">
      <p class="mysenii-h3">Your answer was:</p>
      <p class="mysenii-normal-text">((testRunAnswer.answer.title))</p>
    </div>
  </div>
</div>