<div class="mysenii-card-explainer mysenii-card-explainer-((testRunAnswer.card.color))">
  <div class="mysenii-flex-center">
    <p>((testRunAnswer.card.question.content))</p>
  </div>
  <img src="((testRunAnswer.card.image))">
</div>