<div class="mysenii-scene"
     data-controller="scenes-scene"
     data-scenes-scene-name-value="card-game-results"
     data-scenes-scene-next-scene-name-value="card-game-follow-up-test-explainer"
     data-scenes-scene-registration-event-value="splashInserted"
     data-scenes-scene-start-scene-action-value="showSplash"
     data-scenes-scene-end-scene-event-value="closeSplash"
     data-scenes-scene-end-scene-action-value="hideSplash"
     data-scenes-scene-scene-content-controller-data-attribute-value="splashData">
  <App::CardGame::Results::Results @deck={{this.args.deck}}/>
</div>
