.mysenii-card-game-results {
  overflow-x: hidden;
  margin-top: 90px;
  padding-bottom: 180px;

  > div {
    z-index: 1;
    position: relative;

    // Result Sections
    > div {
      background: var(--white-s1-color);

      // Title
      > h1 {
        font-family: var(--splash-header-font-family);
        font-size: var(--splash-header-font-size);
      }

      // Score Disclaimer
      > h1 + p.mysenii-disclaimer-text {
        margin-top: -10px;
        margin-bottom: 20px;
      }

      // Sub Header
      > h2 {
        font-family: var(--splash-content-font-family);
        line-height: var(--splash-content-line-height);
        font-size: var(--splash-content-font-size);
      }

      // Content
      > p {
        font-family: var(--leaflet-content-font-family);
        font-size: var(--leaflet-content-font-size);
      }

      // Disclaimer
      // ----------
      &.mysenii-disclaimer {
        background: var(--results-disclaimer-background-color);

        > p {
          font-style: italic;
          font-size: var(--leaflet-footnote-font-size);

          b {
            font-weight: bolder;
          }
        }

        // Link to official test documentation
        a {
          text-decoration: none;
          color: var(--purple-s3-color);
          pointer-events: auto !important;

          // Link Icon
          > img {
            height: 12px;
            display: inline-block;
            margin-bottom: -1px;
          }
        }
      }
    }

    // Separators
    // ----------
    > div {
      h2 + p {
        margin-top: 30px;
      }

      p + p {
        margin-top: 5px;
      }
    }

    .mysenii-disclaimer + .mysenii-text-content-section {
      margin-top: 20px;
    }

    .mysenii-result-actions {
      margin-top: 30px;
    }

    // Background bottom images
    // ------------------------
    > img {
      z-index: 0;
      bottom: -100px;
      position: absolute;

      // Bush
      &:nth-child(1) {
        left: -40px;
        width: auto;
        height: 10vh !important;
        transform: scaleX(-1);
      }

      // Palm Tree
      &:nth-child(2) {
        right: -70px;
        height: 28vh !important;
      }
    }
  }
}
