<div class="mysenii-card mysenii-card-{{this.args.card.color}}"
     data-controller="gameplay-card"
     data-gameplay-card-target="swipeElement"
     data-gameplay-card-model-value="{{this.stringifiedCard}}">
  <!-- Card Inner -->
  <div data-gameplay-card-target="innerCard">
    <!-- Front Card -->
    <div>
      <!-- Question Prompt + Card -->
      <div class="mysenii-card-tutorial-front">
        <div class="mysenii-flex-center">
          <img src="{{this.args.card.header_icon}}">
          <p>{{{this.args.card.question}}}</p>
          <img src="{{this.args.card.swipe_icon}}">
          <p>{{this.args.card.swipe_message}}</p>
        </div>
      </div>

      <!-- Selected answer prompt -->
      <App::CardGame::Gameplay::Card::AnswerPrompt/>
    </div>

    <!-- Back Card -->
    <div>
      <img src="assets/images/game/card-back.png">
    </div>
  </div>
</div>
