<div class="mysenii-gameplay-ui-help mysenii-cover-parent"
     style="pointer-events: auto"
     data-controller="gameplay-ui-help"
     data-action="click->gameplay-ui-help#closeHelp">
  <div>
    <svg viewBox="0 0 100 100" preserveAspectRatio="none">
      <a href="#1">
        <polygon data-gameplay-ui-help-target="answerArea">
          <text x="50" y="5">My</text>
        </polygon>
      </a>
      <a href="#1">
        <polygon data-gameplay-ui-help-target="answerArea">
          <text x="5" y="50">My</text>
        </polygon>
      </a>
      <a href="#1">
        <polygon data-gameplay-ui-help-target="answerArea">
          <text x="50" y="95">My</text>
        </polygon>
      </a>
      <a href="#1">
        <polygon data-gameplay-ui-help-target="answerArea">
          <text x="95" y="50">My</text>
        </polygon>
      </a>
    </svg>
    <div class="mysenii-flex-center"
         data-gameplay-ui-help-target="answerPrompt">
      <img src="assets/images/ui/swipe/top.webp">
      <p>Not at all</p>
      <p>Less than a day<br>per week</p>
    </div>
    <div class="mysenii-flex-center"
         data-gameplay-ui-help-target="answerPrompt">
      <img src="assets/images/ui/swipe/left.webp">
      <p>A little</p>
      <p>One-two days<br>per week</p>
    </div>
    <div class="mysenii-flex-center"
         data-gameplay-ui-help-target="answerPrompt">
      <img src="assets/images/ui/swipe/down.webp">
      <p>A lot</p>
      <p>Five or more<br>days per week</p>
    </div>
    <div class="mysenii-flex-center"
         data-gameplay-ui-help-target="answerPrompt">
      <img src="assets/images/ui/swipe/right.webp">
      <p>Some</p>
      <p>Three-four<br>days per<br>week</p>
    </div>
    <div class="mysenii-flex-center"
         data-gameplay-ui-help-target="answerPrompt">
      <img src="assets/images/ui/cancel.png">
    </div>
  </div>
</div>