<div class="mysenii-gameplay-ui mysenii-cover-parent"
     data-controller="gameplay-ui-ui">
  <!-- Footer - Game Options -->
  <div class="mysenii-flex-space-between">
    <div class="mysenii-flex-center">
      <img src="assets/images/ui/info.webp"
           data-action="click->gameplay-ui-ui#showHelp"
           data-gameplay-ui-ui-target="showHelpButton">
    </div>
    <div class="mysenii-flex-center">
      <img src="assets/images/ui/rewind.webp"
           data-action="click->gameplay-ui-ui#rewind"
           data-gameplay-ui-ui-target="rewindButton">
      <img src="assets/images/ui/forward.webp"
           data-action="click->gameplay-ui-ui#forward"
           data-gameplay-ui-ui-target="forwardButton">
    </div>
  </div>
</div>
