/**
  mysenii font families
 */
@font-face {
  font-family: 'Rodger-Regular';
  src: url('fonts/Rodger-Regular.woff2') format('woff2'),
  url('fonts/Rodger-Regular.woff') format('woff'),
  url('fonts/Rodger-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Rodger-Regular-Black';
  src: url('fonts/rodger_black.woff2') format('woff2'),
  url('fonts/rodger_black.woff') format('woff'),
  url('fonts/rodger_black.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('fonts/opensans-regular.woff2') format('woff2'),
  url('fonts/opensans-regular.woff') format('woff'),
  url('fonts/opensans-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('fonts/opensans-bold.woff2') format('woff2'),
  url('fonts/opensans-bold.woff') format('woff'),
  url('fonts/opensans-bold.ttf') format('truetype');
}
