.mysenii-card-game-results-follow-up-find-help-doctor-information {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;

  p + p {
    margin-top: 5px;
  }

  // Doctor Information
  > div:first-child {
    // Doctor Name & Languages
    > p {
      text-align: left;

      span {
        padding: 2px 5px;
        color: var(--white-s1-color);
        background: var(--black-s1-color);
        font-size: var(--text-small-font-size);
        border-radius: 5px;
      }
    }
  }

  // Action Buttons
  > div:last-child {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;

    > * + * {
      margin-left: 15px;
    }

    > img {
      height: 20px;
      width: auto;
    }
  }
}
