.mysenii-card-game-results-follow-up-find-help-step {
  height: calc(100% - 30px);
  padding: 20px;
  margin-top: 30px;
  margin-left: 10px;
  border-radius: 15px;
  border: var(--border-b3);
  border-color: var(--black-s1-color);
  position: relative;
  display: flex;
  flex-flow: column;

  > div {
    flex: 1;

    p {
      word-break: break-word;
      white-space: normal;
    }

    > hr {
      margin: 20px 0;
      height: 2.1px;
      width: 100px;
    }

    // Step Index
    > span {
      width: 30px;
      height: 30px;
      color: var(--white-s1-color);
      background: var(--black-s1-color);
      border-radius: 100px;
      position: absolute;
      left: -10px;
      top: -10px;
    }

    // Checklist Item
    .mysenii-check {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: flex-start;

      > img {
        width: 12px;
        height: auto;
        margin-right: 10px;
      }
    }

    p + div, div + p {
      margin-top: 15px;
    }

    .mysenii-card-game-results-follow-up-find-help-doctor-information {
      margin-top: 25px;
    }

    .mysenii-card-game-results-follow-up-find-help-doctor-information + .mysenii-card-game-results-follow-up-find-help-doctor-information {
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid var(--black-s1-color);
    }
  }

  // Action buttons
  button {
    width: 100%;
  }
}
