.mysenii-card-game-results-follow-up-find-help {
  > div {
    // Find Help Header
    > div:nth-child(3) {
      p + p {
        margin-top: 30px;
        line-height: 2;
      }

      p {
        span {
          width: 40%;
          float: right;
          display: flex;
          flex-flow: row;
          align-items: center;
          justify-content: space-between;
        }

        img {
          height: 15px;
          width: auto;
          display: inline-block;
          margin-left: 10px;
        }
      }
    }

    // Find Help Information
    > div:nth-child(4) {
      background: var(--yellow-s1-color) !important;
    }

    > div:last-child {
      background: transparent;

      button {
        z-index: 1000;
      }
    }

    .glide {
      * {
        pointer-events: auto !important;
      }
    }

    > img {
      z-index: -10;
    }

    > img:first-child {
      transform: scale(1);
      height: 8% !important;
      left: -50px;
    }

    > img:nth-child(2) {
      height: 8% !important;
      right: -20px;
    }
  }
}
