/**
  The master scene wraps the whole UI of the application and the game.
  Its internal structure keeps all the scenes fitting between the limits
  of this container.

  You can play with the container sizze and position to change the whole
  positioning of the UI (for example to define top sizes of the UI)
 */
.mysenii-app-master-scene {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;

  * {
    pointer-events: none;
  }

  // Tablet Layout
  @media only screen and (min-device-width: 768px) {
    margin: auto;
    width: 428px;
    height: 757px;
    border-radius: 30px;
    border: 2px solid var(--gray-s1-color);
  }
}
