.mysenii-app-navbar {
  position: absolute;
  width: 100%;
  top: 0;
  // Set UI as the highest layer
  z-index: 10000000;

  // Disable pointer events
  pointer-events: none;

  // Top & Bottom bar center alignment
  > div {
    position: absolute;

    // Center alignment
    left: 0;
    right: 0;
    margin: auto;
  }

  // Top Navbar
  > div:first-child {
    padding: 33px 28px;

    // Set a width that matches with card width
    width: 100%;
    max-width: 1000px;

    // Left Navbar: Logo
    > div:first-child {
      > img {
        height: 30px;
        pointer-events: auto;
      }
    }
  }
}
