.mysenii-scene {
  @extend .mysenii-cover-parent;

  // Makes sure all scene hide all elements escaping
  // from master scene wrapper dimensions
  overflow: hidden;

  // Scenes usually wrap other components. Thus first child
  // should always be a child. By setting the height in child
  // and scroll properties we can make sure vertical overflow
  // is scrollable respecting scene wrapper
  > *:first-child {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    pointer-events: auto !important;

    > * {
      pointer-events: none;
    }
  }
}
