.mysenii-splash {
  overflow: hidden;
  background-color: var(--splash-background-color);

  // Splash Content Wrapper
  > div {
    margin-right: 50px;

    > img {
      width: auto;
      height: 50px;
      margin-right: 0;
      margin-left: auto;
    }

    // Title
    > h1 {
      font-family: var(--splash-header-font-family);
      font-size: var(--splash-header-font-size);
    }

    // Description
    > p {
      font-family: var(--splash-content-font-family);
      line-height: var(--splash-content-line-height);
      font-size: var(--splash-content-font-size);
    }

    > button {
      margin-top: 40px;
    }
  }

  // Border images
  > img {
    position: absolute;

    &.mysenii-splash-left-bottom-asset {
      bottom: -5px;
      left: -70px;
      height: 140px;
      max-height: 18%;
      width: auto;
    }

    &.mysenii-splash-right-bottom-asset {
      bottom: -2px;
      right: -50px;
      height: 117px;
      max-height: 15%;
      width: auto;
    }
  }
}
