.mysenii-card {
  pointer-events: auto !important;
  height: var(--card-max-height);
  width: var(--card-max-width);

  // Creates 3D effect
  perspective: 1000px;

  /* Inner card */
  > div:first-child {
    height: 100%;

    // Card Animation Setup
    position: relative;
    transform-style: preserve-3d;

    // Front & Back Card configuration for flip
    > div {
      width: 100%;
      position: absolute;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden; /* Safari */
      border-radius: var(--card-border-radius);
      border: var(--card-border);
      overflow: hidden;

      // Firefox fix: https://stackoverflow.com/questions/9604982/backface-visibility-not-working-properly-in-firefox-works-in-safari
      transform: rotateX(0deg);
    }

    /* Front Card */
    > div:first-child {
      height: 100%;
      display: flex;
      flex-flow: column;
      transform: rotateY(180deg);

      * {
        pointer-events: none;
      }
    }

    /* Back Card */
    > div:last-child {
      width: 100%;
      height: 100%;
      background: var(--pink-s1-color);
      pointer-events: none;

      > img {
        width: 100%;
        height: auto;
      }
    }
  }

  &-pink {
    > div:first-child > div:first-child > div:first-child,
    > div:first-child > div:last-child,
    .mysenii-card-game-front > *:first-child,
    .mysenii-card-answer-prompt > *:first-child,
    .mysenii-card-answer-prompt > *:last-child {
      background: var(--pink-s1-color);
    }
  }

  &-yellow {
    > div:first-child > div:first-child > div:first-child,
    > div:first-child > div:last-child,
    .mysenii-card-game-front > *:first-child,
    .mysenii-card-answer-prompt > *:first-child,
    .mysenii-card-answer-prompt > *:last-child {
      background: var(--yellow-s1-color);
    }
  }

  &-purple {
    > div:first-child > div:first-child > div:first-child,
    > div:first-child > div:last-child,
    .mysenii-card-game-front > *:first-child,
    .mysenii-card-answer-prompt > *:first-child,
    .mysenii-card-answer-prompt > *:last-child {
      background: var(--purple-s1-color);
    }
  }

  &-green {
    > div:first-child > div:first-child > div:first-child,
    > div:first-child > div:last-child,
    .mysenii-card-game-front > *:first-child,
    .mysenii-card-answer-prompt > *:first-child,
    .mysenii-card-answer-prompt > *:last-child {
      background: var(--green-s1-color);
    }
  }

  &-orange {
    > div:first-child > div:first-child,
    > div:first-child > div:last-child,
    .mysenii-card-game-front > *:first-child,
    .mysenii-card-answer-prompt > *:first-child,
    .mysenii-card-answer-prompt > *:last-child {
      background: var(--orange-s1-color);
    }
  }
}

// Style for mysenii game front card, which displays the game quesion and related image
.mysenii-card-game-front {
  height: 100%;
  display: flex;
  flex-flow: column;

  /* Card Prompt */
  > div:first-child {
    flex: 1;
    padding: 0 20px;
    justify-content: flex-start;

    background: var(--pink-s1-color);

    > p {
      font-size: var(--card-prompt-font-size);
      line-height: var(--card-prompt-line-height);
      font-family: var(--card-prompt-font-family);
    }
  }

  /* Card Image */
  > img {
    width: 100%;
    height: auto;
    border-top: var(--card-border);
  }
}

// Style for mysenii tutorial front card, which displays the swipe instructions
.mysenii-card-tutorial-front {
  height: 100%;
  display: flex;
  flex-flow: column;

  /* Card Prompt */
  > div:first-child {
    flex: 1;
    padding: 0 30px;
    flex-flow: column;

    background: var(--tutorial-card-background-color);

    > * + * {
      margin-top: 20px;
    }

    // Swipe icon
    > img {
      height: 30px;
      width: auto;
    }

    // Header icon
    > img:first-child {
      height: 50px;
      width: auto;
    }

    // Tutorial description
    > p {
      color: var(--white-s1-color);
      font-size: var(--tutorial-card-description-font-size);
      font-family: var(--tutorial-card-description-font-family);
    }

    // Swipe Message
    > p:last-child {
      text-align: center;
      font-size: var(--tutorial-card-swipe-font-size);
      font-family: var(--tutorial-card-swipe-font-family);
    }
  }
}

.mysenii-card-answer-prompt {
  opacity: 0;
  display: flex;
  flex-flow: column;

  /* Answer Prompt */
  > div:first-child {
    height: 120px;
    padding: 0 20px;
    flex-flow: column;

    /* Answer Title */
    > div:first-child {
      opacity: 0;

      > * + * {
        margin-left: 16px;
      }

      > img {
        height: 30px;
        width: auto;
      }

      > p {
        font-size: var(--card-answer-prompt-title-font-size);
        line-height: var(--card-answer-prompt-title-line-height);
        font-family: var(--card-answer-prompt-title-font-family);
      }
    }

    /* Answer Description */
    > p:last-child {
      opacity: 0;
      margin-top: 4px;
    }
  }

  /* Card Image Cover */
  > *:last-child {
    flex: 1;
    width: 100%;
    opacity: 0.7;
  }
}

.mysenii-card-explainer {
  @extend .mysenii-card-game-front;

  overflow: hidden;
  border: var(--card-border);
  border-radius: var(--card-border-radius);
  height: var(--card-explainer-max-height) !important;
  width: var(--card-explainer-max-width) !important;

  /* Card Prompt */
  > div:first-child {
    padding: 0 16px;

    > p {
      word-break: break-word;
      white-space: normal;
      font-size: var(--text-normal-font-size);
    }
  }

  &-pink {
    > *:first-child {
      background: var(--pink-s1-color) !important;;
    }
  }

  &-yellow {
    > *:first-child {
      background: var(--yellow-s1-color) !important;;
    }
  }

  &-purple {
    > *:first-child {
      background: var(--purple-s1-color) !important;;
    }
  }

  &-green {
    > *:first-child {
      background: var(--green-s1-color) !important;;
    }
  }

  &-orange {
    > *:first-child {
      background: var(--orange-s1-color) !important;
    }
  }
}
