.mysenii-button {
  @extend .mysenii-flex-center;

  flex-flow: row;
  margin-top: 20px;
  padding: 10px 50px;
  border-radius: 5px;
  pointer-events: auto !important;
  font-family: var(--splash-button-font-family);
  font-size: var(--splash-button-font-size);
  cursor: pointer;

  img {
    height: 15px;

    &:first-child {
      margin-right: 10px;
    }

    &:last-child {
      margin-left: 10px;
    }
  }

  p {
    margin-left: 10px;
  }
}

.mysenii-splash-button {
  @extend .mysenii-button;

  text-decoration: none !important;
  color: var(--black-s1-color) !important;
  border: solid 2px var(--splash-button-border-color);
  background-color: var(--splash-button-background);
}

.mysenii-black-button {
  @extend .mysenii-button;

  color: var(--white-s1-color);
  border: solid 2px var(--black-s1-color);
  background-color: var(--black-s1-color);
}
