// Layout Classes
// --------------
/* Use this class to cover parent container */
.mysenii-cover-parent {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* Use this class to center all child elements in vertical and horizontal center via flex */
.mysenii-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Use this class to split divs in two, leaving a space in center */
.mysenii-flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
}

/**
  Game scenes cover the overall screen, hiding all overflown
  content and defining a consistent wrapper for the UI to
  handle the biggest chunks of game logic (card game, menues, etc)
 */
.mysenii-game-scene {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: var(--white-s1-color);
}

/**

 */
.mysenii-text-content-section {
  padding: 25px 28px;
  background: var(--white-s1-color);
}

.mysenii-slide-bubble {
  border: var(--border-b3);
  border-color: var(--black-s1-color);
  border-radius: var(--border-radius-br2);
  padding: 20px;
}
