/**
  Progress Bar Card specifically designed to be
  placed inside card-based layout containers
 */
.mysenii-graph-legend {
  > div {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;

    // Legend Color
    > div {
      width: 12px;
      height: 12px;
      border-radius: 50px;

      &.mysenii-orange {
        background: var(--orange-s1-color);
      }

      &.mysenii-purple {
        background: var(--purple-s1-color);
      }

      &.mysenii-yellow {
        background: var(--yellow-s1-color);
      }
    }

    > * + * {
      margin-left: 12px;
    }
  }
}

.mysenii-powered-by {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  color: var(--gray-s1-color);

  img {
    height: 15px !important;
    width: auto !important;
    margin: 0 !important;
    margin-left: 10px !important;
    display: inline-block;
  }
}
