<div class="mysenii-cover-parent mysenii-card-answer-prompt"
     data-controller="gameplay-card-answer-prompt">
  <div class="mysenii-flex-center">
    <div class="mysenii-flex-center"
         data-gameplay-card-answer-prompt-target="prompt">
      <img src="assets/images/ui/swipe/top.webp"
           data-gameplay-card-answer-prompt-target="answerIcon">
      <p data-gameplay-card-answer-prompt-target="answerTitle">
        A lot
      </p>
    </div>
    <p data-gameplay-card-answer-prompt-target="prompt answerDescription">
      Five or more days per week
    </p>
  </div>
  <div></div>
</div>
