<div class="mysenii-card mysenii-card-{{this.args.card.color}}"
     data-controller="gameplay-card"
     data-gameplay-card-target="swipeElement"
     data-gameplay-card-model-value="{{this.stringifiedCard}}">
  <!-- Card Inner -->
  <div data-gameplay-card-target="innerCard">
    <!-- Front Card -->
    <div>
      <!-- Question Prompt + Card -->
      <div class="mysenii-card-game-front">
        <div class="mysenii-flex-center">
          <p>{{this.args.card.question}}</p>
        </div>
        <img src="{{this.args.card.image}}">
      </div>

      <!-- Selected answer prompt -->
      <App::CardGame::Gameplay::Card::AnswerPrompt/>
    </div>

    <!-- Back Card -->
    <div>
      <img src="assets/images/game/card-back.png">
    </div>
  </div>
</div>
