<div class="mysenii-card-game-results-card-explainer"
     data-controller="app-card-game-results-card-explainer">
  <div class="glide"
       data-app-card-game-results-card-explainer-target="cardSlider">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        ((#testRun))
          ((#each testRunAnswers as |testRunAnswer|))
          <li>
            <App::CardGame::Results::Sections::CardExplainer::CardDisplay/>
          </li>
          ((/each))
        ((/testRun))
      </ul>
    </div>
  </div>

  <div class="glide"
       data-app-card-game-results-card-explainer-target="descriptionSlider">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        ((#testRun))
          ((#each testRunAnswers as |testRunAnswer|))
          <li>
            <App::CardGame::Results::Sections::CardExplainer::CardDescriptionDisplay/>
          </li>
          ((/each))
        ((/testRun))
      </ul>
    </div>
  </div>
</div>