<div class="mysenii-slide-bubble
            mysenii-card-game-results-recommended-follow-up">
  <div>
    <img src="assets/images/assets/handshake.png">

    <p class="mysenii-h2">Find Help</p>

    <p class="mysenii-normal-text">
      Find the nearest help in the language of your choice.
    </p>
  </div>

  <img src="assets/images/ui/info.webp">
</div>