<div class="mysenii-card-game-results-recommended-follow-ups"
     data-controller="common-glide">
  <div class="glide" data-common-glide-target="slider">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        <li>
          <App::CardGame::Results::Sections::RecommendedFollowUp2/>
        </li>
        <li>
          <App::CardGame::Results::Sections::RecommendedFollowUp3/>
        </li>
      </ul>
    </div>
  </div>
</div>