<a class="mysenii-slide-bubble
            mysenii-card-game-results-recommended-follow-up"
   href="https://www.thesomaticschool.com/" target="_blank">
  <div>
    <img src="assets/images/ui/somatic.png">

    <div>
      <p class="mysenii-h2">Somatic Training</p>

      <p class="mysenii-normal-text">
        Training for your emotional and physical intelligence development.
      </p>

      <div class="mysenii-powered-by"
           style="position: absolute; bottom: 10px; right: 20px;">
        <p style="color: darkslategray; font-size: 10px" class="mysenii-small-text">Powered by</p>
        <img style="height: 20px !important;" src="assets/images/mockups/somaticschool.png">
      </div>
    </div>
  </div>

  <img src="assets/images/ui/info.webp">
</a>