<a class="mysenii-slide-bubble
          mysenii-card-game-results-recommended-follow-up"
    href="https://moodmate.me/" target="_blank">
  <div>
    <img src="assets/images/ui/mood.png">

    <div>
      <p class="mysenii-h2">Mood Training</p>

      <p class="mysenii-normal-text">
        Learn how emotions work and understand how to deal with them.
      </p>

      <div class="mysenii-powered-by"
           style="position: absolute; bottom: 10px; right: 20px;">
        <p style="color: darkslategray; font-size: 10px" class="mysenii-small-text">Powered by</p>
        <img style="height: 20px !important;" src="assets/images/mockups/moodmate.webp">
      </div>
    </div>
  </div>

  <img src="assets/images/ui/info.webp">
</a>