<div data-controller="common-card-flip"
     class="mysenii-card
            mysenii-card-game-results-test-explainer-feeling-type">
  <!-- Card Inner -->
  <div data-common-card-flip-target="innerCard">
    <!-- Front Card -->
    <div style="height: 100% !important; width: 100% !important;">
      <!-- Feelings Type Header -->
      <div class="mysenii-flex-space-between"
           data-action="click->common-card-flip#flip">
        <p class="mysenii-h2">Feeling Type Categories</p>
        <img src="assets/images/ui/cancel.png">
      </div>

      <!-- Feelings Type Descriptions -->
      <div>
        <div>
          <p class="mysenii-normal-bold-text">Somatic</p>
          <hr>
          <p class="mysenii-small-text">Feelings affecting your body</p>
        </div>
        <div>
          <p class="mysenii-normal-bold-text">Interpersonal</p>
          <hr>
          <p class="mysenii-small-text">Feelings affecting your social life</p>
        </div>
        <div>
          <p class="mysenii-normal-bold-text">Depressive</p>
          <hr>
          <p class="mysenii-small-text">Feelings affecting your mood</p>
        </div>
        <div>
          <p class="mysenii-normal-bold-text">Positive</p>
          <hr>
          <p class="mysenii-small-text">Feelings making you feel good</p>
        </div>
      </div>
    </div>

    <!-- Back Card -->
    <div style="height: 100% !important; width: 100% !important;">
      <!-- Feelings Type Header -->
      <div class="mysenii-flex-space-between"
           data-action="click->common-card-flip#flip">
        <p class="mysenii-h2">Feeling Type Explained</p>
        <img src="assets/images/ui/info.png">
      </div>

      <!-- Spider Graph Title -->
      <div style="flex-flow: column" class="mysenii-flex-center">
        <p class="mysenii-normal-bold-text" style="margin-bottom: 15px">Test Results</p>
      </div>

      <!-- Spider Graph Legend -->
      <div class="mysenii-graph-legend">
        <div>
          <div class="mysenii-orange"></div><p class="mysenii-small-text">Current time</p>
        </div>
        <div>
          <div class="mysenii-purple"></div><p class="mysenii-small-text">Last time</p>
        </div>
        <div>
          <div class="mysenii-yellow"></div><p class="mysenii-small-text">All time average</p>
        </div>
      </div>

      <div id="test"></div>

      <!-- TigerGraph Partner -->
      <div>
        <p class="mysenii-small-text">Powered by <img src="assets/images/mockups/tg.png"></p>
      </div>
    </div>
  </div>
</div>