<div class="mysenii-flex-center" style="height: 100%">
  <div class="mysenii-leaflet"
       data-controller="app-leaflet"
       data-app-leaflet-leaflet-value="{{this.stringifiedLeaflet}}">
    <!-- BOOK BORDER -->
    <div>
      <div>
        <div></div>
      </div>
    </div>

    <!-- BOOK PAGES -->
    <div data-app-leaflet-target="pagesWrapper">
      <!-- BOTTOM PAGE, DESIGNED TO ALLOW CLICK ACTIONS IN THE LEAFLET AREA -->
      <div class="mysenii-leaflet-page mysenii-leaflet-page-front mysenii-leaflet-page-transparent"
           data-controller="app-leaflet-page">
        <div class="mysenii-cover-parent">
          <div class="mysenii-page-flipper">
            <!-- FRONT PAGE -->
            <div>
              <button class="mysenii-splash-button"
                      data-action="click->app-card-game-views-onboarding-leaflet#closeView">
                Play tutorial
              </button>
            </div>
            <!-- BACK PAGE -->
            <div></div>
          </div>
        </div>
      </div>

      {{#each this.pages as |page index|}}
        {{#if (eq page.type "front")}}
          <App::CardGame::Leaflet::Core::Pages::FrontPage @page={{page}}/>
        {{/if}}
        {{#if (eq page.type "introduction")}}
          <App::CardGame::Leaflet::Core::Pages::IntroductionPage
            @page={{page}}
            @index={{index}}
            @totalPages={{this.totalPages}}/>
        {{/if}}
        {{#if (eq page.type "content")}}
          <App::CardGame::Leaflet::Core::Pages::ContentPage
            @page={{page}}
            @index={{index}}
            @totalPages={{this.totalPages}}/>
        {{/if}}
        {{#if (eq page.type "back")}}
          <App::CardGame::Leaflet::Core::Pages::BackPage
            @page={{page}}
            @index={{index}}
            @totalPages={{this.totalPages}}/>
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>