<div class="mysenii-leaflet-page mysenii-leaflet-page-purple"
     data-controller="app-leaflet-page">
  <div class="mysenii-cover-parent">
    <div class="mysenii-page-flipper">
      <!-- FRONT PAGE -->
      <div>
        a
      </div>
      <!-- BACK PAGE -->
      <div>
        b
      </div>
    </div>
  </div>
</div>