.mysenii-leaflet {
  // Enables swipe gestures in pages
  > div {
    pointer-events: auto !important;
  }

  height: var(--leaflet-max-height);
  width: var(--leaflet-max-width);

  display: flex;
  flex-flow: row;

  > div:first-child {
    width: 17px;
    height: 100%;
    margin-top: -2.1px;
    overflow-y: hidden;

    > div:first-child {
      border-top: 2.1px solid black;
      border-left: 2.1px solid black;
      border-bottom: 2.1px solid black;
      height: 100%;
      opacity: 1;
      background: #8b66a3;

      > div:first-child {
        width: 5px;
        height: 100%;
        float: right;
        background: #efdafd;
      }
    }
  }

  > div:last-child {
    flex: 1;

    // Page Animation Setup
    position: relative;
    transform-style: preserve-3d;
  }
}
