// Inspired by: https://medium.com/undefined-methods/flipping-pages-with-css-ea7f8160745a
.mysenii-leaflet-page {
  // Inner Page
  > div:first-child {
    // Depth of page, the higher the deeper it looks
    perspective: 200vw;
    // Top Perspective
    perspective-origin: center center;

    // Flipper container:
    // fixes the perspective of the transform transition
    // on the top center of the .flip-container
    > div {
      transform-style: preserve-3d;
      transform-origin: 0 50%;
      position: relative;

      // Front & Back Page
      > div {
        padding: 30px;
        height: var(--leaflet-max-height);
        width: calc(var(--leaflet-max-width) - 15px);
        backface-visibility: hidden;
        position: absolute;
        top: -2.1px;
        right: -2.1px;
        border-color: var(--leaflet-border-color);
        border-top: var(--leaflet-border);
        border-bottom: var(--leaflet-border);
      }

      // Front Card
      > div:first-child {
        border-radius: 0 20px 20px 0;
        border-right: var(--leaflet-border);
        overflow: hidden;
      }

      // Back Page
      > div:last-child {
        transform: rotate3D(0, 1, 0, 180deg);
        transform-origin: center;
        border-left: var(--leaflet-border);
        border-radius: 20px 0 0 20px;
      }

      // Page Folded Corner
      // ------------------
      .mysenii-leaflet-page-number {
        position: absolute;
        right: 0;
        bottom: 0;

        // Page Number
        > p {
          padding: 10px 55px;
        }

        // Folded Corner
        > div {
          width: 0;
          height: 0;
          right: 0;
          bottom: 0;
          display:block;
          position: absolute;
          border-width: 0 0 0 0;
          border-style: solid;
          border-top-left-radius: 10px;
          border-color:transparent #fff transparent #fff;
        }
      }
    }
  }

  // PAGE COLORS
  // -----------
  &-pink {
    > div:first-child > div:first-child > * {
      background: var(--pink-s1-color);

      .mysenii-leaflet-page-number > div {
        background: var(--yellow-s2-color);
      }
    }
  }

  &-yellow {
    > div:first-child > div:first-child > * {
      background: var(--yellow-s1-color);

      .mysenii-leaflet-page-number > div {
        background: var(--yellow-s2-color);
      }
    }
  }

  &-purple {
    > div:first-child > div:first-child > * {
      background: var(--purple-s1-color);

      .mysenii-leaflet-page-number > div {
        background: var(--purple-s2-color);
      }
    }
  }

  &-green {
    > div:first-child > div:first-child > * {
      background: var(--green-s1-color);

      .mysenii-leaflet-page-number > div {
        background: var(--yellow-s2-color);
      }
    }
  }

  &-orange {
    > div:first-child > div:first-child > * {
      background: var(--orange-s1-color);

      .mysenii-leaflet-page-number > div {
        background: var(--yellow-s2-color);
      }
    }
  }

  // PAGE LAYOUTS
  // ------------
  &-front {
    > div > div > div {
      @extend .mysenii-flex-center;

      img {
        width: 150px;
      }

      p {
        font-style: italic;
        position: absolute;
        right: 40px;
        bottom:10px;

        span {
          display: inline-block;
        }

        img {
          filter: invert(100%);
          margin-bottom: -5px;
          margin-left: 10px;
          height: 22px;
          width: auto;
        }
      }
    }
  }

  &-introduction {
    > div > div > div {
      @extend .mysenii-flex-center;

      flex-flow: column;

      p + p {
        margin-top: 40px;
      }
    }
  }

  &-content {
    > div > div > div {
      @extend .mysenii-flex-center;

      flex-flow: column;

      img {
        border: var(--leaflet-content-image-border);
        border-color: var(--leaflet-content-image-border-color);
        width: 100% !important;
        height: auto;
      }

      img + p {
        margin-top: 30px;
      }
    }
  }

  &-back {
    > div > div > div {
      @extend .mysenii-flex-center;

      flex-flow: column;
      border-right: var(--leaflet-border);

      > * {
        width: 100%;
      }

      p + p {
        margin-top: 40px;
      }
    }
  }

  &-transparent {
    border: none;
    background: transparent;
  }

  // TYPOGRAPHIES
  // ------------
  .mysenii-leaflet-header-text {
    font-family: var(--leaflet-header-font-family);
    font-size: var(--leaflet-header-font-size);
  }

  .mysenii-leaflet-subheader-text {
    font-family: var(--leaflet-subheader-font-family);
    font-size: var(--leaflet-subheader-font-size);
  }

  .mysenii-leaflet-text {
    font-family: var(--leaflet-content-font-family);
    font-size: var(--leaflet-content-font-size);
  }

  .mysenii-leaflet-footnote-text {
    font-family: var(--leaflet-content-font-family);
    font-size: var(--leaflet-footnote-font-size);
    font-style: italic;
  }

  .mysenii-leaflet-page-number-text {
    font-family: var(--leaflet-page-number-font-family);
    font-size: var(--leaflet-page-number-font-size);
  }
}
