<!-- TODO: Refactor layout -->
<div data-controller="app-opacity-splash"
     class="mysenii-card-game-results mysenii-card-game-results-follow-up-find-help">
  <div data-app-opacity-splash-target="content"
       data-controller="common-glide"
       data-common-glide-padding-value="50">
    <img src="assets/images/background/background3.webp">
    <img src="assets/images/plants/plant2.webp">

    <div class="mysenii-text-content-section">
      <h1 class="mysenii-h1">Find Help</h1>
      <h2>Learn how to find psychological professional support</h2>
      <p class="mysenii-normal-text">
        Share your country and speaking languages to
        get personalized support tips:
      </p>
      <p class="mysenii-h3">
        I want to find help in
        <span>
          <img src="assets/images/ui/world.png">
          Germany
          <img src="assets/images/ui/caret-down.png">
        </span>
        <hr>
        My native language is
        <span>
          <img src="assets/images/ui/language.png">
          English
          <img src="assets/images/ui/caret-down.png">
        </span>
      </p>
    </div>

    <div class="mysenii-text-content-section">
      <h2>Germany</h2>
      <p class="mysenii-normal-text">
        Following are the steps to access mental health help in Germany.
      </p>

      <div class="glide"
           data-common-glide-target="slider">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            <li>
              <App::CardGame::FollowUps::FindHelp::FindHelpStep/>
            </li>
            <li>
              <App::CardGame::FollowUps::FindHelp::FindHelpStep2/>
            </li>
            <li>
              <App::CardGame::FollowUps::FindHelp::FindHelpStep3/>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="mysenii-text-content-section">
      <h2>Dont forget your documents</h2>
      <p class="mysenii-normal-text">
        For a more efficient diagnosis download your personal "Find Help" document.
        It includes all the indications provided to you in a printable and easy to
        read format with clinical formatted result scores in your doctor's language
        to simplify the assessment of your case and then potential transfer to
        specialists.
      </p>

      <a href="https://drive.google.com/file/d/1MaH_kusGdjujH_bxaDbXHZLlIkGAeISb/view?usp=sharing"
         target="_blank"
         class="mysenii-splash-button">
        <img src="assets/images/ui/report.png">
        Download printable help guide
      </a>
    </div>
  </div>
</div>