<!-- TODO: Refactor layout -->
<div data-controller="app-card-game-views-test-explainer"
     class="mysenii-card-game-results mysenii-card-game-results-follow-up-test-explainer">
  <div data-app-card-game-views-test-explainer-target="content">
    <div class="mysenii-text-content-section">
      <h1 class="mysenii-h1">Score Explainer</h1>
      <h2>
        What does my score mean?
      </h2>
      <p class="mysenii-normal-text">
        Each card is connected to a feeling type. Knowing the feeling type helps
        you to understand which emotional areas can benefit from help and which
        are doing well.
        <br><br>
        So let's analyze your current state in relation to your last results and see what the average status is.
      </p>
    </div>

    <div class="mysenii-text-content-section"
         style="padding-top: 0 !important; display: flex; align-items: center; justify-content: center;">
      <App::CardGame::FollowUps::TestExplainer::FeelingType/>
    </div>

    <div class="mysenii-text-content-section"
         style="padding-top: 0 !important; display: flex; align-items: center; justify-content: center;">
      <p class="mysenii-disclaimer-text">
        *in order to illustrate a full patient journey score, mock scores from previous tests and mock average score were added to the final display of results.
      </p>
    </div>

    <div class="mysenii-text-content-section">
      <h2>Let's find out what's the best personalized help for you!</h2>
      <p>
        It appears your current feelings are severely affecting your body and mood.
      </p>
    </div>

    <div style="margin-bottom: 20px">
      <App::CardGame::Results::Sections::RecommendedFollowUps/>
    </div>

    <div class="mysenii-text-content-section"
         style="padding-top: 0 !important; display: flex; align-items: center; justify-content: center;">
      <p class="mysenii-disclaimer-text">
        *In order to illustrate how follow up would be displayed
        we implemented some fixed recommendations. Information on
        how the final system would infer the optimal follow ups
        can be found in project README documentation.
      </p>
    </div>

    <div class="mysenii-text-content-section">
      <h2>
        Let's find the source of my feelings with each card
      </h2>
      <p class="mysenii-normal-text">
        How we feel is greatly connected to how our body acts to the situations!
        <br><br>
        Let's understand this connection to seek the right help.
      </p>
    </div>

    <App::CardGame::Results::Sections::CardExplainer/>
  </div>
</div>