<div class="mysenii-scene"
     data-controller="scenes-scene"
     data-scenes-scene-name-value="game-welcome"
     data-scenes-scene-next-scene-name-value="game"
     data-scenes-scene-registration-event-value="splashInserted"
     data-scenes-scene-start-scene-action-value="showSplash"
     data-scenes-scene-end-scene-event-value="closeSplash"
     data-scenes-scene-end-scene-action-value="hideSplash">
  <App::CardGame::Splash::GameWelcome/>
</div>
