<div class="mysenii-scene"
     data-controller="scenes-scene"
     data-scenes-scene-name-value="game"
     data-scenes-scene-next-scene-name-value="results-welcome"
     data-scenes-scene-registration-event-value="gameInserted"
     data-scenes-scene-start-scene-action-value="startGame"
     data-scenes-scene-end-scene-event-value="gameCompleted"
     data-scenes-scene-end-scene-action-value="endGame"
     data-scenes-scene-scene-content-controller-data-attribute-value="testRunResults">
  <App::CardGame::Gameplay::Game @deck={{this.args.deck}} />
</div>