<div class="mysenii-scene"
     data-controller="scenes-scene"
     data-scenes-scene-name-value="onboarding-leaflet"
     data-scenes-scene-next-scene-name-value="tutorial"
     data-scenes-scene-registration-event-value="viewReady"
     data-scenes-scene-start-scene-action-value="showView"
     data-scenes-scene-end-scene-event-value="closeLeaflet"
     data-scenes-scene-end-scene-action-value="hideView">
  <App::CardGame::Views::OnboardingLeaflet @leaflet={{this.args.deck.leaflet}}/>
</div>
