<div class="mysenii-scene"
     data-controller="scenes-scene"
     data-scenes-scene-name-value="tutorial"
     data-scenes-scene-next-scene-name-value="game-welcome"
     data-scenes-scene-registration-event-value="gameInserted"
     data-scenes-scene-start-scene-action-value="startGame"
     data-scenes-scene-end-scene-event-value="gameCompleted"
     data-scenes-scene-end-scene-action-value="endGame">
  <App::CardGame::Gameplay::Tutorial @deck={{this.args.deck}}/>
</div>