<div class="mysenii-card-game-results-follow-up-find-help-doctor-information">
  <div>
    <p class="mysenii-h3">
      Dr. Mark Reifer
    </p>
    <p class="mysenii-normal-text">Hausarzt für Medizin</p>
    <p>
      <span class="mysenii-normal-bold-text">DE</span>
      <span class="mysenii-normal-bold-text">EN</span>
      <span class="mysenii-normal-bold-text">UK</span>
    </p>
  </div>
  <div>
    <img src="assets/images/ui/calendar.png">
    <img src="assets/images/ui/phone.png">
    <img src="assets/images/ui/maps.png">
  </div>
</div>