<div class="mysenii-card-game-results-follow-up-find-help-step">
  <div>
    <span class="mysenii-flex-center mysenii-h3">3</span>

    <!-- Step Description -->
    <p class="mysenii-h2">Visit a specialist prescribed by your GP</p>
    <div class="mysenii-check">
      <img src="assets/images/ui/info.png">
      <p class="mysenii-normal-text">
        Specialist will provide you specific treatment to help you with your condition
      </p>
    </div>
    <div class="mysenii-check">
      <img src="assets/images/ui/info.png">
      <p class="mysenii-normal-text">
        You will get a 4 trial sessions once you make the appointment to see the fit for you
      </p>
    </div>

    <!-- Step Requirements -->
    <p class="mysenii-h3">
      Documents needed
    </p>
    <div class="mysenii-check">
      <img src="assets/images/ui/check.png">
      <p class="mysenii-normal-text">Insurance card</p>
    </div>
    <div class="mysenii-check">
      <img src="assets/images/ui/check.png">
      <p class="mysenii-normal-text">GP Prescription</p>
    </div>
    <div class="mysenii-check">
      <img src="assets/images/ui/check.png">
      <p class="mysenii-normal-text">
        Mental Health screening results
        <span class="mysenii-disclaimer-text">(more information in section below)</span>
      </p>
    </div>

    <!-- Step Actions -->
    <hr>
    <p class="mysenii-h3">
      Find nearest specialist, speaking in the language of your preference
    </p>

    <App::CardGame::FollowUps::FindHelp::DoctorInformation2/>
  </div>

  <button class="mysenii-black-button">
    See more specialist results in map
  </button>
</div>