<div class="mysenii-card-game-results-follow-up-find-help-step">
  <div>
    <span class="mysenii-flex-center mysenii-h3">1</span>

    <!-- Step Description -->
    <p class="mysenii-h2">Visit a GP (Family Doctor)</p>
    <div class="mysenii-check">
      <img src="assets/images/ui/info.png">
      <p class="mysenii-normal-text">GP will help you determine which kind of therapist would be helpful</p>
    </div>
    <div class="mysenii-check">
      <img src="assets/images/ui/info.png">
      <p class="mysenii-normal-text">
        GP can recommedn you for the faster appointment
      </p>
    </div>

    <!-- Step Requirements -->
    <p class="mysenii-h3">
      Documents needed
    </p>
    <div class="mysenii-check">
      <img src="assets/images/ui/check.png">
      <p class="mysenii-normal-text">Insurance card</p>
    </div>
    <div class="mysenii-check">
      <img src="assets/images/ui/check.png">
      <p class="mysenii-normal-text">
        Mental Health screening results
        <span class="mysenii-disclaimer-text">(more information in section below)</span>
      </p>
    </div>

    <!-- Step Actions -->
    <hr>
    <p class="mysenii-h3">
      Find nearest GP, speaking in the language of your preference
    </p>

    <App::CardGame::FollowUps::FindHelp::DoctorInformation/>
  </div>

  <button class="mysenii-black-button">
    See more GP results in map
  </button>
</div>