<div class="mysenii-card-game-results-follow-up-find-help-step">
  <div>
    <span class="mysenii-flex-center mysenii-h3">2</span>

    <!-- Step Description -->
    <p class="mysenii-h2">Request mental health specialist recommendation to your GP</p>

    <!-- Step Requirements -->
    <p class="mysenii-h3">
      Documents needed
    </p>
    <div class="mysenii-check">
      <img src="assets/images/ui/check.png">
      <p class="mysenii-normal-text">Prescription from GP</p>
    </div>
    <div class="mysenii-check">
      <img src="assets/images/ui/check.png">
      <p class="mysenii-normal-text">
        Mental Health screening results
        <span class="mysenii-disclaimer-text">(more information in section below)</span>
      </p>
    </div>
  </div>
</div>