<div class="mysenii-app-master-scene"
     data-controller="scenes-master-scene"
     data-scenes-master-scene-initial-scene-value="welcome">
  <!-- ** APP SCENES ** -->
  <!-- APP SCENES -->
  <!-- ========== -->

  <!-- GAME SCENES -->
  <!-- =========== -->
  <!-- LEAFLET WELCOME -->
  <template data-scenes-master-scene-target="scene"
            data-scene-name="welcome">
    <Scenes::Welcome/>
  </template>

  <!-- LEAFLET INFORMATION -->
  <template data-scenes-master-scene-target="scene"
            data-scene-name="onboarding-leaflet">
    <Scenes::OnboardingLeaflet @deck={{this.args.deck}}/>
  </template>

  <!-- GAME TUTORIAL -->
  <template data-scenes-master-scene-target="scene"
            data-scene-name="tutorial">
    <Scenes::Tutorial @deck={{this.args.deck}}/>
  </template>

  <!-- GAME WELCOME -->
  <template data-scenes-master-scene-target="scene"
            data-scene-name="game-welcome">
    <Scenes::GameWelcome/>
  </template>

  <!-- GAME -->
  <template data-scenes-master-scene-target="scene"
            data-scene-name="game">
    <Scenes::Game @deck={{this.args.deck}}/>
  </template>

  <!-- RESULTS WELCOME -->
  <template data-scenes-master-scene-target="scene"
            data-scene-name="results-welcome">
    <Scenes::ResultsWelcome @deck={{this.args.deck}}/>
  </template>

  <!-- RESULTS -->
  <template data-scenes-master-scene-target="scene"
            data-scene-name="card-game-results">
    <Scenes::CardGame::Results @deck={{this.args.deck}}/>
  </template>

  <!-- FOLLOW UPS & OTHER RESULTS SECTIONS -->
  <!-- ----------------------------------- -->
  <!-- FIND HELP -->
  <template data-scenes-master-scene-target="scene"
            data-scene-name="card-game-follow-up-find-help">
    <Scenes::CardGame::FollowUps::FindHelp @deck={{this.args.deck}}/>
  </template>

  <!-- TEST EXPLAINER -->
  <template data-scenes-master-scene-target="test-explainer"
            data-scene-name="card-game-follow-up-test-explainer">
    <Scenes::CardGame::FollowUps::TestExplainer @deck={{this.args.deck}}/>
  </template>

  <!-- APP SCENE RENDERING CONTAINERS -->
  <div class="mysenii-cover-parent"
       data-scenes-master-scene-target="sceneWrapper"></div>
  <div class="mysenii-cover-parent"
       data-scenes-master-scene-target="sceneWrapper"></div>

  <!-- MASTER SCENE OVERLAY -->
  <App::Navbar/>
</div>
