<div class="mysenii-app-navbar">
  <!-- Navbar - Pause Menu -->
  <div class="mysenii-flex-space-between">
    <div>
      <img src="assets/images/ui/logo.png">
    </div>

    <div>
    </div>
  </div>
</div>
