.mysenii-gameplay-ui-help {
  pointer-events: auto;

  > div:first-child {
    position: relative;
    height: 100%;
    width: 100%;

    > svg {
      width: 100%;
      height: 100%;

      polygon {
        fill: var(--purple-s1-color);
      }

      a:nth-child(1) polygon {
        fill: #efdafd;
      }

      a:nth-child(2) polygon {
        fill: #e0b6fc;
      }

      a:nth-child(3) polygon {
        fill: #8b66a3;
      }

      a:nth-child(4) polygon {
        fill: #ac8ec0;
      }
    }

    // Answer Prompts
    > div {
      opacity: 0;
      margin: auto;
      flex-flow: column;
      position: absolute;
      align-items: flex-start;

      p {
        margin-top: 5px;
        font-family: var(--help-prompt-title-font-family);
        font-size: var(--help-prompt-title-font-size);
        text-align: left;
      }

      p + p {
        font-family: var(--secondary-font-family);
        line-height: var(--help-prompt-description-line-height);
        font-size: var(--help-prompt-description-font-size);
      }

      img {
        height: 30px;
        width: auto;
      }

      // Top
      &:nth-child(2) {
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
      }

      // Left
      &:nth-child(3) {
        left: 35px;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        justify-content: flex-start;
      }

      // Bottom
      &:nth-child(4) {
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
      }

      // Right
      &:nth-child(5) {
        right: 35px;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        justify-content: flex-end;
      }

      // Right
      &:nth-child(6) {
        right: 35px;
        top: 40px;

        > img {
          height: 25px;
          width: auto;
        }
      }
    }
  }
}
