/* In-Game UI */
.mysenii-gameplay-ui {
  // Disable pointer events
  pointer-events: none;
  // Set UI as the highest layer
  z-index: 100000;

  // Set default icon size for all UI icons
  i {
    pointer-events: auto;
    font-size: var(--gameplay-ui-icon-font-size);
  }

  // Top & Bottom bar center alignment
  > div {
    position: absolute;

    // Center alignment
    left: 0;
    right: 0;
    margin: auto;
  }

  // Footer
  > div:last-child {
    padding: 32px 28px 38px 28px;

    // Set a width that matches with card width
    width: 100%;
    max-width: 428px;

    bottom: 0;
    position: absolute;


    img {
      height: 44px;
      width: auto;
      pointer-events: auto;
    }

    img + img {
      margin-left: 32px;
    }
  }
}
