<div class="mysenii-card-game-onboarding-leaflet-view"
     data-controller="app-card-game-views-onboarding-leaflet">
  <div class="mysenii-cover-parent mysenii-flex-center">
    <img src="assets/images/background/background1.webp"
         data-app-card-game-views-onboarding-leaflet-target="leftAsset">
    <img src="assets/images/plants/plant1.webp"
         data-app-card-game-views-onboarding-leaflet-target="rightAsset">
    <img src="assets/images/plants/plant2.webp"
         data-app-card-game-views-onboarding-leaflet-target="leftAsset">
  </div>

  <button class="mysenii-splash-button"
          data-action="click->app-card-game-views-onboarding-leaflet#closeView">
    skip
  </button>

  <App::CardGame::Leaflet::Core::Leaflet @leaflet={{this.args.leaflet}}/>
</div>