.mysenii-splash-welcome {
  > div {
    // mysenii logo
    > img {
      margin-left: 0;
      margin-top: 5px;
      margin-right: auto;
      width: 220px;
      height: auto;
    }

    > img + p {
      font-family: var(--splash-subheader-font-family);
      font-size: var(--splash-subheader-font-size);
    }
  }

  // Palm image
  > img {
    right: -70px !important;
    height: 250px !important;
    max-height: 30% !important;
  }

  // Bush image
  > img + img {
    height: 80px !important;
    bottom: -10px !important;
  }
}
