.mysenii-card-game-results-test-explainer-feeling-type {
  height: var(--card-feelings-type-max-height) !important;
  width: var(--card-feelings-type-max-width) !important;

  // Inner Card
  > div {
    // Front & Back Card
    > div {
      height: 100% !important;
      width: 100% !important;
      @extend .mysenii-card-explainer;
      display: flex;
      flex-flow: column;

      > * {
        padding: 20px;
      }

      // Front & Back Card Header
      > div:first-child {
        width: 100%;
        flex: none !important;
        padding: 16px !important;
        border-bottom: var(--card-border);
        pointer-events: auto !important;

        // Info button
        > img {
          flex: none;
          width: auto;
          height: 18px;
        }
      }
    }

    // Front Card
    > div:first-child {
      // Header
      > div:first-child {
        background: var(--yellow-s1-color);
      }

      // Feeling Type Explainer List
      > div:last-child {
        flex: 1;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: center;

        hr {
          margin: 2px 0;
          border: none !important;
          background: var(--purple-s1-color);
          height: 2px;
          width: 30%;
        }

        > div + div {
          margin-top: 20px;
        }
      }

      // Feeling Type Explainer
      p + p {
        margin-top: 0 !important;
      }
    }

    // Back Card
    > div:last-child {
      background: var(--white-s1-color) !important;

      // Header
      > div:first-child {
        background: var(--purple-s1-color);
      }

      > div:nth-child(2) {
        padding-bottom: 5px;
      }

      // Plotly Spider Graph Display
      .js-plotly-plot {
        @extend .mysenii-cover-parent;
        z-index: -1;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none !important;

        * {
          pointer-events: none !important;
        }
      }

      // Spider Graph Mock-Up
      img {
        flex: 1;
        width: 100%;
        height: auto;
      }

      .mysenii-graph-legend {
        bottom: 25px;
        position: absolute;
      }

      // Powered By TG
      > div:last-child {
        right: -5px;
        bottom: -15px;
        position: absolute;

        p {
          @extend .mysenii-powered-by;
        }
      }
    }
  }
}
